<%- include('partials/header') %>

<div class="w-full min-h-screen p-4 ">

  <div class="w-full text-center text-4xl  mb-6">সদস্যগন(<span class='text-orange-500'><%= user.length %> জন</span>)</div>

  <% if(user && user.length > 0) { %>

  <table class="min-w-full border border-gray-700 border-collapse text-sm bg-white">
    <thead>
      <tr class="bg-gray-200 text-green-800">
        <th class="border border-gray-700 px-4 py-2 text-center">নাম</th>
        <th class="border border-gray-700 px-4 py-2 text-center hidden md:table-cell">ইমেইল</th>
        <th class="border border-gray-700 px-4 py-2 text-center">ফেসবুক</th>
        <th class="border border-gray-700 px-4 py-2 text-center">লাইভ আছে কি?</th>
      </tr>
    </thead>
    <tbody>
      <% user.forEach(u => { %>
      <tr class="hover:bg-gray-300/50">
        <td class="border border-gray-700 px-4 py-2">
          <div class="flex gap-2 items-center">
            <img src="<%- u.imageUrl %>" alt="logo" class="w-10 h-10 rounded-full">
            <span><%- u.username %></span>
          </div>
        </td>

        <!-- Email column hidden on small screens -->
        <td class="border border-gray-700 px-4 py-2 text-center hidden md:table-cell"><%- u.email %></td>

        <td class="border border-gray-700 px-4 py-2 text-center">

          <% if(u.fb){ %>
        <a href="<%- u.fb %>" class="text-blue-600 hover:underline"><%- u.username %></a>
          <% } else{ %>
         <span></span>
         <% } %>
          
        </td>

        <td class="border border-gray-700 px-4 py-2 text-center">
          <% if(u.live) { %>
          <span class="inline-flex p-2 px-3 bg-green-500 rounded-lg text-white gap-1 justify-center items-center">
            হ্যা
            <i class="fa fa-certificate text-lg"></i>
          </span>
          <% } else { %>
          <span class="inline-block p-2 opacity-0">no</span>
          <% } %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <% } else { %>
  <p class="text-center text-gray-500 text-lg mt-6">কোনো সদস্য নেই</p>
  <% } %>

</div>

<%- include('partials/footer') %>
